 <!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <%- include('../partials/head'); %>
    <style>
        main.container {
        overflow: auto;
        }
        select[name='status'] {
        width: 100%;
        }
    
      </style>
  </head>

  <body class="container text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <%- include('../partials/header'); %>
    <main>
      <h1 class="cover-heading">Customers</h1>
      <table id="customerTable" style="border-collapse: collapse" class="table table-striped">
        <thead>
          <tr>
            <th style="border: 1px solid black; padding: 10px">ID</th>
            <th style="border: 1px solid black; padding: 10px">Status</th>  
            <th style="border: 1px solid black; padding: 10px">Type</th>
            <th style="border: 1px solid black; padding: 10px">Added Date</th>
            <th style="border: 1px solid black; padding: 10px">First</th>
            <th style="border: 1px solid black; padding: 10px">Last</th>
            <th style="border: 1px solid black; padding: 10px">Primary Phone</th>
            <th style="border: 1px solid black; padding: 10px">Secondary Phone</th>
            <th style="border: 1px solid black; padding: 10px">Email</th>
            <th style="border: 1px solid black; padding: 10px">Address 1</th>
            <th style="border: 1px solid black; padding: 10px">Address 2</th>
            <th style="border: 1px solid black; padding: 10px">StateID</th>
            <th style="border: 1px solid black; padding: 10px">PostalCode</th>
            <th style="border: 1px solid black; padding: 10px">CountryID</th>
          </tr>
        </thead>
        <tbody>
          <% customers.forEach(function(customer) { %>
          <tr>
            <td style="border: 1px solid black; padding: 10px" contenteditable="false">
              <%= customer.CustomerID %>
            </td>
            <td style="border: 1px solid black; padding: 10px" contenteditable="false">
                <%= customer.StatusCode %>
              </td>           
            <td style="border: 1px solid black; padding: 10px" contenteditable="false">
              <%= customer.CustomerCode %>
            </td>
            <td style="border: 1px solid black; padding: 10px" contenteditable="false">
              <%= customer.AddedDate %>
            </td>
            <td style="border: 1px solid black; padding: 10px" contenteditable="false">
              <%= customer.FirstName %>
              <td style="border: 1px solid black; padding: 10px" contenteditable="false">
                <%= customer.LastName %>
              </td>
            <td style="border: 1px solid black; padding: 10px" contenteditable="false">
              <%= customer.PrimaryPhoneNumber %>
            </td>
            <td style="border: 1px solid black; padding: 10px" contenteditable="false">
                <%= customer.SecondaryPhoneNumber %>
            </td>
            <td style="border: 1px solid black; padding: 10px" contenteditable="false">
                <%= customer.Email %>
            </td>
            <td style="border: 1px solid black; padding: 10px" contenteditable="false">
                <%= customer.AddressLine1 %>
            </td>
            <td style="border: 1px solid black; padding: 10px" contenteditable="false">
                <%= customer.AddressLine2 %>
            </td>
            <td style="border: 1px solid black; padding: 10px" contenteditable="false">
                <%= customer.StateID %>
            </td> 
              <td style="border: 1px solid black; padding: 10px" contenteditable="false">
                <%= customer.PostalCode %>
            </td>
            <td style="border: 1px solid black; padding: 10px" contenteditable="false">
                <%= customer.CountryID %>
            </td>
            <td style="border: 1px solid black; padding: 10px">
                <form method="POST" action="/editCustomer">
                  <input type="hidden" name="customerID" value="<%= customer.CustomerID %>">
                  <button type="submit" id="editButton" style="color: black">Edit</button>
                </form>              
              </td>
          </tr>
          <% }); %>
    
          <!-- Empty row for user to input new customer -->
          <tr id="newCaptainRow">
            <td style="border: 1px solid black; padding: 10px" contenteditable="false"></td>
            <td style="border: 1px solid black; padding: 10px" contenteditable="true"></td>
            <td style="border: 1px solid black; padding: 10px" contenteditable="true"></td>
            <td style="border: 1px solid black; padding: 10px" contenteditable="true"></td>
            <td style="border: 1px solid black; padding: 10px" contenteditable="true"></td>
          </tr>
        </tbody>
      </table>
    </main>  

    <% include('../partials/footer'); %>       

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        const editButtons = document.querySelectorAll('button[type="submit"]');
        editButtons.forEach((button) => {
            button.addEventListener("click", function(event) {
                event.preventDefault();
                const customerID = event.target.parentElement.querySelector('input[type="hidden"]').value;
                axios.post(`http://127.0.0.1:5000/customerLook`, {data: {CustomerID: customerID}})
                    .then((response) => {
                        // Render the edit page with the retrieved data
                        res.render('pages/customeredit.ejs')(response.data);
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    });
            });
        });
    </script>    
    </div>
  </body>
</html>
